<html>

<head>
  <title>API Admin</title>
  {{> head}}
</head>

<body>
  {{>nav}}
  <div class="wrapper">
    <div class="columns">
      <aside class="column is-2 aside">
        <nav class="menu">
          <p class="menu-label">
            Developer
          </p>
          <ul class="menu-list">
            <li>
              <a class="is-active" href="#">
                <span class="icon is-small"><i class="fa fa-tachometer-alt"></i></span>
                Documentation
              </a>
            </li>
          </ul>
          <p class="menu-label">
            Administration
          </p>
          <ul class="menu-list">
            <li>
              <a href="/bulma-admin-dashboard-template/forms.html">
                <span class="icon is-small"><i class="fa fa-pencil-square-o"></i></span>
                Instances
              </a>
            </li>
          </ul>
        </nav>
      </aside>
      <main class="column main">
        This is the admin panel
      </main>
    </div>
  </div>
  {{>tail}}
</body>

</html>